.button {
    padding: 12px;
    width: 100%;
    border: 2px solid $main-color;
    border-radius: 5px;
    background: $main-background;
    text-transform: uppercase;
    font-size: 20px;



    &:hover {
        border-color: $main-hover;
        color: $main-hover;
    }

    &:active {
        border-color: $main-active;
        color: $main-active;
    }
}