.drawings__wrapper {
    @include paddings;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $desktop-width) {
        flex-direction: row;
    }
}

.drawings__title {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.drawings__side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



.drawings__area {

    min-width: 280px;
    min-height: 280px;
    border-radius: 5px;
    border: 2px solid $main-color;
    display: flex;
    width: 100%;
    height: 100%;
}