.error {
    border: 1px solid $error-color;
    padding: 10px;
    box-shadow: 0 0 5px 2px $error-color;
    position: absolute;
    background: $main-background;
    display: flex;
    align-items: center;
    gap: 20px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -20px;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px;
        border-color: transparent transparent $error-color transparent;
    }

}

.error__close {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        display: block;
        background-color: $main-color;
        width: 13px;
        height: 1.5px;
        position: absolute;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        box-shadow: none;
        opacity: 0.5;
    }

    &:active {
        box-shadow: none;
        opacity: 0.3;
    }

}