.form {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;

    @media (min-width: $tablet-width) {
        flex-flow: row wrap;
    }

    @media (min-width: $desktop-width) {
        flex-wrap: nowrap;
    }


}

.form__fieldset {
    padding: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.form__input {
    width: 30px;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    border: 2px solid $main-color;
    border-radius: 5px;

    &:hover {
        border-color: $main-hover;
        color: $main-hover;
        box-shadow: 0 0 5px 2px #afafaf;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px 2px #afafaf;
    }

    &::placeholder {
        color: $main-active;
        opacity: 0.5;
    }
}

.form__label {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        min-width: 200px;
    }
}

.form__label-title {
    font-size: 19px;
    text-transform: uppercase;
}

.form__label-text {
    font-size: 13px;
    text-transform: none;
}

.form__error {
    box-shadow: 0 0 5px 2px #ff0303;
}