.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
        flex-wrap: nowrap;
    }


}

.form__fieldset {
    padding: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.form__input {
    width: 30px;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    border: 2px solid $main-color;
    border-radius: 5px;

    &:hover {
        border-color: $main-hover;
        color: $main-hover;
    }

    &:focus {
        outline: none;
    }
}

.form__label {
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        min-width: 200px;
    }
}