td {
    border: 1px solid #8a8a8a
}

table {
    border-collapse: collapse;
}

.page {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.page__footer {

    margin-top: auto;
}