.page {
    margin: auto;
    font-family: "PT Sans", Arial, sans-serif;
    color: $main-color;
    box-shadow: 0 0 15px 0 $darkned-background;
    background-color: $main-background;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media print {
        box-shadow: none;

    }
}


.page__footer {
    margin-top: auto;

    @media print {
        display: none;

    }
}

.page__header {
    @media print {
        display: none;

    }
}