.page {
    margin: auto auto;
    /* border: 1px solid #000; */
    font-family: "PT Sans", Arial, sans-serif;
    box-shadow: 0 0 15px 0 #0000002b;
    background-color: #ffffff;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.page__footer {

    margin-top: auto;
}