.settings__form {
    flex-direction: column;
}

.settings__input {
    width: 40px;
    padding: 7px;
    border-radius: 0;
    font-size: 16px;
    text-align: left;
    border: none;

    &:focus {
        border: none;
    }
}