$main-color: rgba(36, 36, 36);
$main-hover: rgba(36, 36, 36, 0.6);
$main-active: rgba(36, 36, 36, 0.3);

$separator-color: rgba(36, 36, 36, 0.3);

$main-background: #ffffff;
$darkned-background: rgba(36, 36, 36, 0.3);