$main-color: rgb(36 36 36);
$main-hover: rgb(36 36 36 / 60%);
$main-active: rgb(36 36 36 / 30%);
$separator-color: rgb(36 36 36 / 30%);
$error-color: #b30000;
$main-background: #fff;
$darkned-background: rgb(36 36 36 / 30%);